<style>
  .supportLogos {
    display: flex;
    justify-content: space-evenly;
    border-radius: 12px;
    margin: 12px;
    padding: 12px;
    background: #efefef;
  }
  .supportLogos img {
    margin: auto;
  }

  .badgeCore {
    font-size: 0.8em;
    align-content: center;
    color: rgb(11, 3, 241);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(11, 3, 241);
    border-image: initial;
    border-radius: 20px;
    padding: 4px 8px;
    background: #efefef;
    font-weight: bold;
    float: right;
  }
  .badgePro {
    font-size: 0.8em;
    background-color: rgb(255, 123, 33);
    align-content: center;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 4px 8px;
    float: right;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  ul li strong {
    display: inline-block;
    margin: 12px 0;
    width: 100%;
    padding-bottom: 6px;
    border-bottom: 0.5px solid #999;
    font-size: 1.2em;
  }
  ul li video {
    width: 100%;
    margin: 12px 0;
  }
  .cta {
    color: rgb(255, 123, 33);
    font-size: 1em;
  }
</style>
<ul>
  <p>
    Sign up for a
    <b
      ><a href="https://www.dependi.io/#pricing" class="cta">Free trial</a> of
      PRO</b
    >
    today.

    <li>
      <strong>
        Unified Language Support: <span class="badgeCore">CORE</span>
      </strong>
      <div>
        Works seamlessly with your favorite languages. Whether you code in
        <i>Rust</i>, <i>Go</i>, <i>JavaScript</i>, <i>TypeScript</i>, <i>Python</i> or <i>PHP</i>,
        <b>dependi.io</b> has you covered.
        <div class="supportLogos">
          <img
            src="https://www.dependi.io/supports/logo-rust.svg"
            alt="rust"
            width="36"
          />
          <img
            src="https://www.dependi.io/supports/logo-go.svg"
            alt="golang"
            width="56"
            height="40"
          />
          <img
            src="https://www.dependi.io/supports/logo-js.svg"
            alt="javascript"
            width="36"
          />
          <img
            src="https://www.dependi.io/supports/logo-ts.svg"
            alt="typescript"
            width="38"
          />
          <img
            src="https://www.dependi.io/supports/logo-python.svg"
            alt="python"
            width="38"
          />
          <img
            src="https://www.dependi.io/supports/logo-php.svg"
            alt="php"
            width="40"
          />
        </div>
      </div>
    </li>
    <li>
      <strong>
        Simplified Dependency Management:
        <span class="badgeCore">CORE</span>
      </strong>
      <p>
        Stay informed about your project's dependencies with detailed version
        information and inline visual feedback for Rust, Go, JavaScript, TypeScript,
        Python and PHP.
      </p>
      <video
        src="https://www.dependi.io/landing/videosSeeTheDifference/version-check-update.mp4"
      />
    </li>
    <li>
      <strong>Seamless Updates:<span class="badgeCore">CORE</span></strong>
      <p>
        Keep your dependencies up to date effortlessly with a single command for
        Rust, Go, JavaScript, TypeScript, Python and PHP projects.
      </p>
      <video
        src="https://www.dependi.io/landing/videosSeeTheDifference/vulnerabilities.mp4"
      />
    </li>
    <li>
      <strong
        >Comprehensive Documentation:<span class="badgeCore">CORE</span></strong
      >
      <p>
        Access comprehensive 3rd party documentation seamlessly for Rust, Go,
        JavaScript, TypeScript, Python and PHP.
      </p>
      <video
      src="https://www.dependi.io/landing/videosSeeTheDifference/documentation-feature-video.mp4"
    </li>
    <li>
      <strong
        >One Click Vulnerability Reports:<span class="badgePro">PRO</span>
      </strong>
      <p>
        Identify and address security vulnerabilities swiftly with comprehensive
        reports across all supported languages.
      </p>
      <video
        src="https://www.dependi.io/landing/videosSeeTheDifference/vulnerability-report.mp4"
      />
    </li>
    <li>
      <strong>Privacy Protection:<span class="badgePro">PRO</span> </strong>
      <p>
        Safeguard sensitive projects with support for private repositories in
        Rust, Go, JavaScript, TypeScript, Python and PHP.
      </p>
    </li>
    <li>
      <strong>Performance Boost:<span class="badgePro">PRO</span> </strong>
      <p>
        Optimize dependency retrieval and management with a unified index server
        in the Pro version, supporting all four languages.
      </p>
    </li>
    <li>
      <strong>Early Access Benefits:<span class="badgePro">PRO</span> </strong>
      <p>
        Gain early access to upcoming features by joining our beta program for
        Rust, Go, JavaScript, TypeScript, Python and PHP enhancements.
      </p>
    </li>
    <li>
      <strong>Shape the Future:<span class="badgePro">PRO</span> </strong>
      <p>
        Shape the future of Dependi.io with request surveys and priority feature
        suggestions in the Pro version, catering to all supported languages.
      </p>
    </li>
  </p>
</ul>
